/* Empty



file for template. Remember to edit only this file and not the HTML file */



#css-zen-garden{
    display: flex;
    background-image: url(mega\ \(1\).png);
   background-position-x: center;
   background-repeat: no-repeat;

}


.page-wrapper{

    margin-top: 1800px;
    justify-content: space-around;
    background-color: rgb(202, 170, 124);
    opacity: 80%;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    padding: 50px;
    
    
}
.wrapper{
    float: right;
    font-style: italic;
    background-color:rgb(203, 156, 100);
   
    
    align-items: flex-end;
    padding:25px;


}
.sidebar{

}

.intro {
    width: 30%;
padding: 25px;
}

.summary{
    /* display: flex; */
    flex-direction: row;
}

#zen-supporting{
 padding: 2%;
 border: dotted;



}

a:link {
    color:aqua;
}

h3, ::selection{
    color: blueviolet;
}

a:visited{
   color:blue; 
}